#container {
    height: 200px;
    width: 200px;
    padding: 200px;


}

nav {
    font-family: Arial;
    font-size: small;

}

ul {
    list-style-type: none;
    margin: 1;  /* Space around object */
    padding: 0; /* Space within object */

}

li {
    display: inline;
}

li a {
    padding: 6px;
    color: grey;
    text-decoration: none; /* Removes underlines */
}

li a:hover {
    text-decoration: underline;
}

div {
    padding: 10px;
}

input {
    border: 1px solid #ccc;
    width: 500px;
    border-radius: 2rem;
    padding: 12px;
}

input:hover {
    box-shadow: 1px 1px 5px #ccc;
}

input:focus {
    box-shadow: 1px 1px 5px #ccc;
    color: none;
}

input[type=text] {
    background-image: url("/image/search.png");
}

button {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 4px;
    font-family: Arial;
    font-size: small;
    background-color: #eee;
}

footer ul {
    margin: 10px;
}

footer li {
    margin: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 0 auto;
    width: 200px;
    padding: 15px;
    margin: 5px auto;
}

.flex-container {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


